body {
    margin: 0;
    background: rgba(82, 82, 100, 0.555);
    text-align: center;
    page-break-after:always;
}
ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
p.electrostatics {
    position: absolute;
    float:right; 
    margin-right:20px; 
    border:none }
